<header class="fixed top-0 left-0 right-0 z-50 bg-background-color/80 backdrop-blur-sm shadow-md">
    <nav class="container mx-auto px-6 lg:px-10 py-4 flex justify-between items-center">
        <a class="font-fira-code text-lg font-bold text-neon-green" href="#">JN</a>
        <div class="hidden md:flex items-center space-x-8">
            <a class="nav-link" href="#about"><span class="font-fira-code">01.</span>À Propos</a>
            <a class="nav-link" href="#experience"><span class="font-fira-code">02.</span>Expérience</a>
            <a class="nav-link" href="#projects-pro"><span class="font-fira-code">03.</span>Projets</a>
            <a class="nav-link" href="#services"><span class="font-fira-code">05.</span>Contact</a>
        </div>
        <a class="btn-primary" href="https://github.com/{{ site.github_username }}" rel="noopener noreferrer" target="_blank">Contact</a>
    </nav>
</header>