<section class="py-24" id="projects-code">
    <h2 class="font-fira-code text-2xl md:text-3xl font-bold text-light-gray mb-12 relative w-full flex items-center">
        <span class="text-neon-green mr-4">05.</span>Projets Code & Automatisation
        <span class="flex-grow ml-6 h-px bg-navy-light"></span>
    </h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for project in site.data.projets_code %}
        <div class="bg-navy-light p-6 rounded-md hover-lift flex flex-col">
            <div class="flex justify-between items-center mb-4">
                <svg class="h-8 w-8 text-neon-green" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><title>Code Icon</title><path d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path></svg>
                {% if project.github_url %}
                <a class="text-soft-gray hover:text-neon-green transition-colors" href="{{ project.github_url }}" target="_blank" rel="noopener noreferrer">
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><title>GitHub</title><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61