<section class="py-24" id="about">
    <h2 class="font-fira-code text-2xl md:text-3xl font-bold text-light-gray mb-8 relative w-full flex items-center">
        <span class="text-neon-green mr-4">01.</span>À Propos de moi
        <span class="flex-grow ml-6 h-px bg-navy-light"></span>
    </h2>
    <div class="text-soft-gray space-y-4 max-w-3xl">
        <p>Admin IT passionné, je suis actuellement en alternance chez Mathematic Studio et en 5ème année d'un cursus d'Expert en architectures systèmes, réseaux et sécurité. Mon objectif est d'optimiser, sécuriser et automatiser les systèmes et les réseaux.</p>
        <p>Je suis particulièrement attiré par le développement Python, l'automatisation, l'intelligence artificielle et le monde du self-hosting et de l'open-source. Je suis constamment à la recherche de nouvelles manières d'innover et de résoudre des problèmes complexes.</p>
        <p>Voici quelques technologies que j'utilise :</p>
        <ul class="grid grid-cols-2 gap-2 font-fira-code text-sm">
            <li class="flex items-center"><span class="text-neon-green mr-2">▹</span>Python (Django)</li>
            <li class="flex items-center"><span class="text-neon-green mr-2">▹</span>Linux (Proxmox)</li>
            <li class="flex items-center"><span class="text-neon-green mr-2">▹</span>Docker</li>
            <li class="flex items-center"><span class="text-neon-green mr-2">▹</span>Automatisation</li>
        </ul>
    </div>
</section>