<section class="py-24" id="experience">
    <h2 class="font-fira-code text-2xl md:text-3xl font-bold text-light-gray mb-12 relative w-full flex items-center">
        <span class="text-neon-green mr-4">02.</span>Expérience & Formation
        <span class="flex-grow ml-6 h-px bg-navy-light"></span>
    </h2>
    <div class="relative border-l-2 border-navy-light pl-8 space-y-12 max-w-3xl">
        <div class="relative">
            <div class="absolute -left-[38px] top-1.5 w-4 h-4 bg-neon-green rounded-full border-4 border-background-color"></div>
            <h3 class="text-lg font-bold text-light-gray">Administrateur IT <span class="text-neon-green">@ Mathematic Studio</span></h3>
            <p class="font-fira-code text-soft-gray text-sm">oct. 2022 - aujourd’hui</p>
        </div>
        <div class="relative">
            <div class="absolute -left-[38px] top-1.5 w-4 h-4 bg-neon-green rounded-full border-4 border-background-color"></div>
            <h3 class="text-lg font-bold text-light-gray">Technicien IT <span class="text-neon-green">@ Mathematic Studio</span></h3>
            <p class="font-fira-code text-soft-gray text-sm">oct. 2020 - oct. 2022</p>
        </div>
        <div class="relative">
            <div class="absolute -left-[38px] top-1.5 w-4 h-4 bg-neon-green rounded-full border-4 border-background-color"></div>
            <h3 class="text-lg font-bold text-light-gray">Expert en système informatique (RNCP38823) <span class="text-neon-green">@ Itis Formation</span></h3>
            <p class="font-fira-code text-soft-gray text-sm">oct. 2023 - juil. 2025</p>
        </div>
        <div class="relative">
            <div class="absolute -left-[38px] top-1.5 w-4 h-4 bg-neon-green rounded-full border-4 border-background-color"></div>
            <h3 class="text-lg font-bold text-light-gray">Technicien Supérieur Systèmes & Réseaux <span class="text-neon-green">@ 2i Academy</span></h3>
            <p class="font-fira-code text-soft-gray text-sm">2020 - 2022</p>
        </div>
    </div>
</section>